/* Estilos CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #0b11cb; /* Cor de destaque ao passar o mouse */
  }
  
  section {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel {
    max-width: 600px;
    margin: 0 auto;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .vertical-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
}

.card-body {
  height: 300px; /* Defina a altura desejada para os cards */
  overflow: hidden; /* Oculta o conteúdo que ultrapassa a altura */
}

.card-button {
  height: 70px; /* Defina a altura desejada para os cards */
  padding-right: 10px;
  padding-top : 10px;
  overflow: hidden; /* Oculta o conteúdo que ultrapassa a altura */
}

.card-icon {
  width: 64px ;
  height: 64px; /* Defina a altura desejada para os cards */
  padding-right: 10px;
  padding-top : 10px;
  overflow: hidden; /* Oculta o conteúdo que ultrapassa a altura */
}